## World Happiness ##
The World Happiness Report is a landmark survey of the state of global happiness.

In [1]:
import pandas as pd
import numpy as np
#np.set_printoptions(precision=2, suppress=True)
#pd.options.display.float_format = '${:,.2f}'.format

Read in data in csv format as a Pandas data frame. A __DataFrame__ is a 2-dimensional labeled data structure with columns of potentially different types.

In [2]:
df = pd.read_csv('happiness_2017.csv')

In [3]:
df.head()

,Country,Region,Rank,HappinessScore,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government
0,Norway,Western Europe,1,7.537,7.578745,11.081789,0.950128,71.086586,0.953017,0.210104,0.249711,0.849100,0.202914,0.717160
1,Denmark,Western Europe,2,7.522,7.593702,10.748989,0.952100,71.662498,0.955416,0.145387,0.181148,0.823667,0.205775,0.572353
2,Iceland,Western Europe,3,7.504,7.476214,10.760409,0.966753,72.755981,0.938783,0.235479,0.726845,0.895255,0.148160,0.365042
3,Switzerland,Western Europe,4,7.494,7.473593,10.955548,0.949661,73.173759,0.924997,0.167875,0.316183,0.773997,0.195871,0.819707
4,Finland,Western Europe,5,7.469,7.788252,10.612338,0.963826,71.696960,0.962199,-0.012174,0.192413,0.787137,0.176066,0.597539

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country                            140 non-null    object
 1   Region                             140 non-null    object
 2   Rank                               140 non-null    int64
 3   HappinessScore                     140 non-null    float64
 4   Life Ladder                        140 non-null    float64
 5   Log GDP per capita                 133 non-null    float64
 6   Social support                     139 non-null    float64
 7   Healthy life expectancy at birth   140 non-null    float64
 8   Freedom to make life choices       139 non-null    float64
 9   Generosity                         132 non-null    float64
 10  Perceptions of corruption          128 non-null    float64
 11  Positive affect                    139 non-null    float64
 12  Negative affect                    139 non-null    float64
 13  Confidence in national government  127 non-null    float64
dtypes: float64(11), int64(1), object(2)
memory usage: 15.4+ KB

In [5]:
df.shape

(140, 14)

In [6]:
df.columns

Index(['Country', 'Region', 'Rank', 'HappinessScore', 'Life Ladder',
       'Log GDP per capita', 'Social support',
       'Healthy life expectancy at birth', 'Freedom to make life choices',
       'Generosity', 'Perceptions of corruption', 'Positive affect',
       'Negative affect', 'Confidence in national government'],
      dtype='object')

In [7]:
df.columns.size

14

In [8]:
df.rename(columns={'Rank': 'HappinessRank', 'Healthy life expectancy at birth': 'Life expectancy'}, inplace=True)

In [9]:
df.head()

,Country,Region,HappinessRank,HappinessScore,Life Ladder,Log GDP per capita,Social support,Life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government
0,Norway,Western Europe,1,7.537,7.578745,11.081789,0.950128,71.086586,0.953017,0.210104,0.249711,0.849100,0.202914,0.717160
1,Denmark,Western Europe,2,7.522,7.593702,10.748989,0.952100,71.662498,0.955416,0.145387,0.181148,0.823667,0.205775,0.572353
2,Iceland,Western Europe,3,7.504,7.476214,10.760409,0.966753,72.755981,0.938783,0.235479,0.726845,0.895255,0.148160,0.365042
3,Switzerland,Western Europe,4,7.494,7.473593,10.955548,0.949661,73.173759,0.924997,0.167875,0.316183,0.773997,0.195871,0.819707
4,Finland,Western Europe,5,7.469,7.788252,10.612338,0.963826,71.696960,0.962199,-0.012174,0.192413,0.787137,0.176066,0.597539

In [10]:
df.index

RangeIndex(start=0, stop=140, step=1)

In [11]:
df.isnull().sum()

Country                               0
Region                                0
HappinessRank                         0
HappinessScore                        0
Life Ladder                           0
Log GDP per capita                    7
Social support                        1
Life expectancy                       0
Freedom to make life choices          1
Generosity                            8
Perceptions of corruption            12
Positive affect                       1
Negative affect                       1
Confidence in national government    13
dtype: int64

Pandas __Series__ is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.).

In [12]:
df['HappinessScore']

0      7.537
1      7.522
2      7.504
3      7.494
4      7.469
       ...
135    3.533
136    3.507
137    3.495
138    3.349
139    2.693
Name: HappinessScore, Length: 140, dtype: float64

In [13]:
max_value = df["HappinessScore"].max()
max_value

7.537000000000001

In [14]:
df["HappinessScore"].mean()

5.3989071428571425

In [15]:
max_index = df["Social support"].idxmax()
max_index

2

In [16]:
df.describe()

,HappinessRank,HappinessScore,Life Ladder,Log GDP per capita,Social support,Life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government
count,140.0000,140.000000,140.000000,133.000000,139.000000,140.000000,139.000000,132.000000,128.000000,139.000000,139.000000,127.000000
mean,70.5000,5.398907,5.491702,9.345615,0.806711,63.440981,0.777874,-0.011614,0.735870,0.699412,0.291164,0.493701
std,40.5586,1.109750,1.122178,1.184935,0.121117,7.595597,0.127969,0.161064,0.179799,0.107246,0.091985,0.198235
min,1.0000,2.693000,2.661718,6.625341,0.319589,44.386528,0.427011,-0.296735,0.161791,0.420962,0.114123,0.110937
25%,35.7500,4.542500,4.636694,8.545789,0.736748,58.005130,0.711635,-0.141405,0.681880,0.614203,0.219028,0.333884
50%,70.5000,5.302000,5.586507,9.547693,0.828953,65.209110,0.811671,-0.035203,0.782116,0.710230,0.280323,0.473544
75%,105.2500,6.212000,6.278276,10.313942,0.905827,69.062944,0.878373,0.098457,0.857171,0.788236,0.345125,0.617711
max,140.0000,7.537000,7.788252,11.465231,0.966753,76.536362,0.985178,0.628706,0.954393,0.895255,0.599335,0.964690

In [17]:
df.loc[df['Country'] == "Japan"]

,Country,Region,HappinessRank,HappinessScore,Life Ladder,Log GDP per capita,Social support,Life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government
46,Japan,East Asia,47,5.92,5.910676,10.568169,0.881961,75.317291,0.849397,-0.223297,0.659199,0.740388,0.175512,0.41249